@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EatInLT</h1>
</div>
<br />
<br />

<div class="row justify-content-center">
    <i class="fas fa-pizza-slice fa-10x"></i>
</div>

